[submodule "suckless/slstatus"]
	path = suckless/slstatus
	url = https://git.suckless.org/slstatus
[submodule "suckless/dwm"]
	path = suckless/dwm
	url = https://git.suckless.org/dwm
[submodule "suckless/dmenu"]
	path = suckless/dmenu
	url = https://git.suckless.org/dmenu
[submodule "hobby/C++/notes/cpp_random"]
	path = hobby/C++/notes/cpp_random
	url = git@github.com:totalblank/CPP-Random.git
